.header {
    position: fixed;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #b2b2b2;
}

ul, ol, dl, dt, dd, li {
    list-style: none;
}

div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, form, fieldset, input, table, tr, th, td, button, textarea, select {
    margin: 0;
    border: none;
}

.header li {
    font-size: 20px;
    line-height: 50px;
}

.header li a {
    text-decoration: none;
    color: #000;
}