.header {
    position: fixed;
    width: 23%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #b2b2b2;
}

.header li {
    font-size: 20px;
    line-height: 50px;
}

.header li a {
    text-decoration: none;
    color: #000;
}

ul, ol, dl, dt, dd, li {
    list-style: none;
}